---
export interface Props {
  level?: 1 | 2 | 3 | 4;
  variant?: 'default' | 'big';
  visualStyle?: 'h1' | 'h2' | 'h3' | 'h4' | 'big';
  total?: string;
  desc?: string;
  linkText?: string;
  iconRight?: boolean;
  linkHref?: string;
  class?: string;
  color?: string;
}

const {
  level = 3,
  variant = 'default',
  visualStyle,
  total,
  linkText,
  iconRight,
  desc,
  color,
  linkHref,
  class: className = ''
} = Astro.props;

const Tag = `h${level}` as keyof HTMLElementTagNameMap;

const titleClasses = [
  'title',
  color && `title--${color}`,
  desc && 'title--start',
  visualStyle ? `title--${visualStyle}` : `title--h${level}`,
  variant !== 'default' ? `title--${variant}` : '',
  className
].filter(Boolean).join(' ');

const hasContent = iconRight || total || linkText;
---

<Tag class={titleClasses}>
  { hasContent ? (
    <span class="title__content">
    <slot />
    {iconRight && <a href="#" class="title__icon icon-arrow-wide"></a>}
    {total && <span class="title__total">{total}</span>}
    {linkText && linkHref && (
      <a href={linkHref} class="title__link">{linkText}</a>
    )}
  </span>
  ) : (
    <slot />
  )
  }
  
  {desc && <div class="title__desc">{desc}</div>}
</Tag>
